<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:lang="http://www.springframework.org/schema/lang" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop.xsd 
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context.xsd 
 http://www.springframework.org/schema/jee
  http://www.springframework.org/schema/jee/spring-jee.xsd
   http://www.springframework.org/schema/lang
    http://www.springframework.org/schema/lang/spring-lang.xsd 
    http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd 
     http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util.xsd 
      http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:p="http://www.springframework.org/schema/p"
        xmlns:jee="http://www.springframework.org/schema/jee" 
        xmlns:context="http://www.springframework.org/schema/context" 
        xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:mvc="http://www.springframework.org/schema/mvc" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/beans">

<context:annotation-config/>
<context:component-scan base-package="org"/>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="jspViewResolver">

<property value="org.springframework.web.servlet.view.JstlView" name="viewClass"/>

<property value="/WEB-INF/views/" name="prefix"/>

<property value=".jsp" name="suffix"/>

</bean>


<!-- LA CONEXION A ORCALE PARA LA TABLA DE PARAMETROS -->


 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property value="oracle.jdbc.driver.OracleDriver" name="driverClassName" 
		/> <property value="jdbc:oracle:thin:@localhost:1521/xe" name="url" /> <property 
		value="SYSR09" name="username" /> <property value="alex4152" name="password" 
		/> </bean>
	<!-- CONEXION A SERVIDOR DE COLDVIEW EN TEST PARA DESCARGA DE INFORMACIÓN -->

	<bean id="jdbcParametros" class="org.contact.dao.JdbcParametros">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- LA CONEXION A ORACLE PARA OBTENER LOS PARAMETROS DE LA TABLA PARAMETROS_MTE 
		EN EL SERVIDOR NUEVO DE TEST -->
	<bean id="dataSource2"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property value="oracle.jdbc.driver.OracleDriver"
			name="driverClassName" />

		<property
			value="jdbc:oracle:thin:@ithhpcifppbd-scan2.telcelinstitucional.com:1525/COMPAGODEV"
			name="url" />

		<property value="SVADM09" name="username" />

		<property value="ConpAG0$9" name="password" />

	</bean>
	<!--<bean id="dataSource3" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property value="oracle.jdbc.driver.OracleDriver" name="driverClassName" 
		/> <property value="jdbc:oracle:thin:@localhost:1521/xe" name="url" /> <property 
		value="SYSR09" name="username" /> <property value="alex4152" name="password" 
		/> </bean> -->
	<bean id="jdbcUsuarios" class="org.contact.dao.JdbcUsuarios">
		<property name="dataSource2" ref="dataSource2" />
	</bean>

<mvc:resources cache-period="31556926" location="/resources/" mapping="/resources/**"/>

<!-- CON LA LINEA DE ARRIBA QUEDA CORRECTAMENTE MAPEADO LAS RUTAS DE LAS IMAGENES, CSS Y JAVASCRIPT -->


<mvc:annotation-driven/>
</beans>