<style>
@charset "ISO-8859-1";

#Tabla_ventas_actuales{
	float:left;
}
#Botones_tipos_de_productos{
	float:right;
}
#Totales_de_venta{
	float:left;
}
#Opciones_de_venta{
	float:right;
}

</style>